NEXT_PUBLIC_SUPABASE_URL=https://tjydswriismqeugkcaqx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google OAuth2 Integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=https://my-ai-sous-chef.vercel.app
